.dynamicwebTags-panel input,
.dynamicwebTags-panel input:active {
	outline-width: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #777;
	padding: 5px;
	width: 100%;
	height: 30px;
}
.dynamicwebTags-panel input:focus {
	background-color: rgba(0, 0, 0, .12);
}
.dynamicwebTags-panel .dropdown {
	z-index: 100;
}
#dynamicwebTags pre {
	height: 60px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#dynamicwebTags .row {
	margin-left: 10px;
}

.inactive {
	display: none;
}