<div id="netsi1964TestPanel" class="dynamicwebTags-panel bottom-panel vert-resizable top-resizer">
	<div class="toolbar simple-toolbar-layout">
		<div class="row">
			<div class="span4">
				<h3><a href="http://dynamicweb.com/?from=dynamicwebTagsBracketExtension">Dynamicweb CMS</a> Tags <code class="tags"></code></h3>
				<input id="autocomplete" type="text" placeholder="Type part of tagname">
			</div>
			<div class="span8">
				<h3>Found</h3><pre><ul class="found"><li>Found tags</li></ul></pre>
			</div>
		</div>

	</div>
</div>
